{% extends "base.html" %}
{% block head %}
        <link href="{{ url_for('ui.static', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block container %}
<table id="swarm_list" class=" table table-bordered">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block script %}
<script src="{{ url_for('ui.static', filename='js/jquery.dataTables.min.js') }}"></script>
<script>
    $('#swarm_list').DataTable( {
        data: data,
        paging: false,
    } );
    
</script>
{% endblock %}
