{% extends "base/base.html" %}
{% block title %}
SwarmOps | Docker管理平台
{% endblock %}
{% block container %}

{% if request.args.get("misc") in ("DelService", "DelSwarm", "DelNode") %}
{% block head %}
    <!-- Import chosen css -->
    <link rel="stylesheet" href="{{ url_for('ui.static', filename='css/chosen.min.css') }}">
{% endblock %}
{% endif %}


{% if request.args.get("misc") == "InitSwarm" %}
<form class="form-horizontal" role="form" id="InitSwarmForm">

  <div class="form-group">
    <label for="InitSwarmIp" class="col-sm-12">Swarm Ip&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="InitSwarmIp" name="ip" placeholder="初始化Swarm集群的主节点IP">
    </div>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="force" id="InitSwarmForce" value="false" checked>
      非强制创建一个新的集群。
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="force" id="InitSwarmForce" value="true">
      强制创建一个新的集群，即使节点本身已经是集群。
    </label>
  </div>
  <br />

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" onclick=InitSwarm() class="btn btn-primary">初始化集群</button>
    </div>
  </div>

</form>
{% endif %}


{% if request.args.get("misc") == "AddSwarm" %}
<form class="form-horizontal" role="form" id="AddSwarmForm">

  <div class="form-group">
    <label for="AddSwarmName" class="col-sm-12">Swarm Name&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddSwarmName" name="name" placeholder="Swarm集群标识名称">
    </div>
  </div>

  <div class="form-group">
    <label for="AddSwarmIp" class="col-sm-12">Swarm Ip&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddSwarmIp" name="ip" placeholder="Swarm集群任意节点IP">
    </div>
  </div>

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" id="AddSwarmSubmit" onclick=AddSwarm() class="btn btn-success">添加集群</button>
    </div>
  </div>

</form>
{% endif %}


{% if request.args.get("misc") == "DelSwarm" %}
{% set ActiveName = g.swarm.getActive.name %}
<div class="alert alert-danger" role="alert">活跃集群<code>{{ ActiveName }}</code>不允许删除!!!</div>

<form class="form-horizontal" role="form" id="DelSwarmForm">

  <div class="form-group">
      <label for="DelSwarmName" class="col-sm-12">
        <p class="text-success "><span class="glyphicon glyphicon-arrow-down"></span>Swarm集群标识名称列表<scan class="badge"> {{ g.swarm.getMember|length }}</scan><span class="glyphicon glyphicon-arrow-down"></span></p>
      </label>
      <div class="col-sm-12">
          <select id="DelSwarmName" data-placeholder="选择一个或多个集群删除" class="chosen-select" multiple tabindex="4" style="width: 100%">
          {% for member in g.swarm.getMember %}
            {%- if member == ActiveName %}
              <option value="{{ member }}" disabled>{{ member }}</option>
            {%- else %}
              <option value="{{ member }}">{{ member }}</option>
            {%- endif %}
          {% endfor %}
          </select>
      </div>
  </div>

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" onclick=DelSwarm() class="btn btn-danger">删除集群</button>
    </div>
  </div>

</form>
{% endif %}


{% if request.args.get("misc") == "AddService" %}
<form class="form-horizontal" role="form" id="AddServiceForm">

  <div class="form-group">
    <label for="AddServiceName" class="col-sm-12">Service Name</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddServiceName" name="name" placeholder="服务标识">
    </div>
  </div>

  <div class="form-group">
    <label for="AddServiceImage" class="col-sm-12">Service Image&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddServiceImage" name="image" placeholder="服务镜像">
    </div>
  </div>

  <div class="form-group">
    <label for="AddServicereplicas" class="col-sm-12">Service Replicas&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddServicereplicas" name="replicas" placeholder="服务副本(实例数), 默认值为1">
    </div>
  </div>

  <div class="form-group">
    <label for="AddServiceEnv" class="col-sm-12">Service Env</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddServiceEnv" name="env" placeholder='服务环境变量, 格式是"key=value", 多个环境变量以逗号分隔'>
    </div>
  </div>

  <div class="form-group">
    <label for="AddServiceMount" class="col-sm-12">Service Mount</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddServiceMount" name="mount" placeholder='服务挂载, 格式是"src:target:true|false:mode", true|false代表只读、读写, mode固定值bind, 多个挂载以逗号分隔'>
    </div>
  </div>

  <div class="form-group">
    <label for="AddServicePublish" class="col-sm-12">Service Publish</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddServicePublish" name="publish" placeholder='服务发现(端口映射), 格式是"src:target:protocol", protocol默认值tcp, 多个端口映射以逗号分隔'>
    </div>
  </div>

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" id="AddServiceSubmit" onclick=AddService() class="btn btn-success">添加服务</button>
    </div>
  </div>

</form>
{% endif %}


{% if request.args.get("misc") == "DelService" %}
<form class="form-horizontal" role="form" id="DelServiceForm">

  <div class="form-group">
      <label for="DelServiceflag" class="col-sm-12">
          <p class="text-success "><span class="glyphicon glyphicon-arrow-down"></span>服务标识名称列表<scan class="badge"> {{ g.service.GET().data|length }}</scan><span class="glyphicon glyphicon-arrow-down"></span></p>
      </label>
      <div class="col-sm-12">
          <select id="DelServiceflag" data-placeholder="选择一个或多个服务删除" class="chosen-select" multiple tabindex="4" style="width: 100%">
          {% for service in g.service.GET(core=True, core_convert=True).data %}
              <option value="{{ service.ID }}">{{ service.Name }} &lt;{{ service.ID }}&gt;</option>
          {% endfor %}
          </select>
      </div>
  </div>

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" onclick=DelService() class="btn btn-danger">删除服务</button>
    </div>
  </div>

</form>
{% endif %}


{% if request.args.get("misc") == "UpdateService" %}
{% set Services = g.service.GET(core=True, core_convert=True).data %}

<strong class="text-success "><span class="glyphicon glyphicon-arrow-down"></span>点击以下服务标识名称进行数据填充后再更新:&nbsp<scan class="badge"> {{ Services|length }}</scan><span class="glyphicon glyphicon-arrow-down"></span></strong>
<br />
<br />
<p>{% for service in Services %}
    <a href='javascript:ServiceFill("{{ service.ID }}")' title="对服务<{{ service.Name }}>进行数据填充"><code class="text-muted">{{ service.Name }}</code></a>&nbsp;{% endfor %}</p>
<br />

<form class="form-horizontal" role="form" id="UpdateServiceForm">

  <div class="form-group">
    <label for="UpdateServiceName" class="col-sm-12">Service Name</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="UpdateServiceName" name="name" placeholder="服务标识">
    </div>
  </div>

  <input type="hidden" class="form-control" id="UpdateServiceId" name="serviceId">
  <input type="hidden" class="form-control" id="UpdateServiceType" name="UpdateServiceType" value="ui">

  <div class="form-group">
    <label for="UpdateServiceImage" class="col-sm-12">Service Image&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="UpdateServiceImage" name="image" placeholder="服务镜像">
    </div>
  </div>

  <div class="form-group">
    <label for="UpdateServicereplicas" class="col-sm-12">Service Replicas&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="number" class="form-control" id="UpdateServicereplicas" name="replicas" placeholder="服务副本(实例数), 默认值为1">
    </div>
  </div>

  <div class="form-group">
    <label for="UpdateServiceEnv" class="col-sm-12">Service Env</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="UpdateServiceEnv" name="env" placeholder='服务环境变量, 格式是"key=value", 多个挂载以逗号分隔'>
    </div>
  </div>

  <div class="form-group">
    <label for="UpdateServiceMount" class="col-sm-12">Service Mount</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="UpdateServiceMount" name="mount" placeholder='服务挂载, 格式是"src:target:true|false:mode", true|false代表只读、读写, mode固定值bind, 多个挂载以逗号分隔'>
    </div>
  </div>

  <div class="form-group">
    <label for="UpdateServicePublish" class="col-sm-12">Service Publish</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="UpdateServicePublish" name="publish" placeholder='服务发现(端口映射), 格式是"src:target:protocol", protocol默认值tcp, 多个映射以逗号分隔'>
    </div>
  </div>

  <div class="form-group">
    <label for="UpdateServiceDelay" class="col-sm-12">Service Delay</label>
    <div class="col-sm-12">
      <input type="number" class="form-control" id="UpdateServiceDelay" name="delay" value=10 placeholder='服务更新之间的延迟秒数, 默认为10'>
    </div>
  </div>

  <div class="form-group">
    <label for="UpdateServiceParallelism" class="col-sm-12">Service Parallelism</label>
    <div class="col-sm-12">
      <input type="number" class="form-control" id="UpdateServiceParallelism" name="parallelism" value=1 placeholder='同时更新的任务数, 默认为1'>
    </div>
  </div>

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" onclick=UpdateService() class="btn btn-info">更新服务</button>
    </div>
  </div>

</form>
{% endif %}


{% if request.args.get("misc") == "AddNode" %}
<form class="form-horizontal" role="form" id="AddNodeForm">

  <div class="form-group">
    <label for="AddNodeIp" class="col-sm-12">Node Ip&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddNodeIp" name="ip" placeholder="节点IP">
    </div>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="role" id="AddNodeRole" value="Worker" checked>作为工作节点加入集群
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="role" id="AddNodeRole" value="Manager">作为管理节点加入集群
    </label>
  </div>
  <br />

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" id="AddNodeSubmit" onclick=AddNode() class="btn btn-success">添加节点</button>
    </div>
  </div>

</form>
{% endif %}


{% if request.args.get("misc") == "UpdateNode" %}
{% set Nodes = g.node.GET().data %}

<strong class="text-success "><span class="glyphicon glyphicon-arrow-down"></span>点击以下节点标识名称进行数据填充后再更新:&nbsp<scan class="badge"> {{ Nodes|length }}</scan><span class="glyphicon glyphicon-arrow-down"></span></strong>
<br />
<br />
<p>{% for node in Nodes %}
    <a href='javascript:NodeFill("{{ node[1] }}")' title="对节点<{{ node[0] }}>进行数据填充"><code class="text-muted">{{ node[0] }}</code></a>&nbsp;{% endfor %}</p>
<br />

<form class="form-horizontal" role="form" id="UpdateNodeForm">

  <input type="hidden" class="form-control" id="UpdateNodeID" name="node_id">
  <input type="hidden" class="form-control" id="UpdateNodeType" name="UpdateNodeType" value="ui">

  <div class="form-group">
    <label for="UpdateNodeLabels" class="col-sm-12">更新节点标签</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="UpdateNodeLabels" name="node_labels" placeholder="节点标签, 请输入k/v键值对, 多对标签以逗号分隔, 例如ipaddr=NodeIp, environment=dev">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-12">更新节点角色<code id="UpdateNodeRole"></code></label>
    <div class="radio col-sm-12"><label><input type="radio" id="UpdateNodeRoleWorker" name="node_role" value="Worker">设定为Worker工作节点</label></div>
    <div class="radio col-sm-12"><label><input type="radio" id="UpdateNodeRoleManager" name="node_role" value="Manager">设定为Manager管理节点</label></div>
  </div>

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" onclick=UpdateNode() class="btn btn-info">更新节点</button>
    </div>
  </div>

</form>
{% endif %}


{% if request.args.get("misc") == "DelNode" %}
{% set Nodes = g.node.GET().data %}
<form class="form-horizontal" role="form" id="DelNodeForm">

  <div class="form-group">
      <label for="DelNodeflag" class="col-sm-12">
          <p class="text-success "><span class="glyphicon glyphicon-arrow-down"></span>节点标识名称列表<scan class="badge"> {{ Nodes|length }}</scan><span class="glyphicon glyphicon-arrow-down"></span></p>
      </label>
      <div class="col-sm-12">
          <select id="DelNodeflag" data-placeholder="选择一个或多个节点删除(Manager节点需要选中强制离开集群)" class="chosen-select" multiple tabindex="4" style="width: 100%">
          {% for node in Nodes %}
              {% if node[2] == "Leader" or node[3] == "down" or node[5] == "unreachable" %}
              <option value="{{ node[0] }}" disabled>{{ node[0] }} &lt;{{ node[2] }}&gt; &lt;{{ node[3] }}&gt; &lt;{{ node[4] }}&gt;</option>
              {% else %}
              <option value="{{ node[0] }}">{{ node[0] }} &lt;{{ node[2] }}&gt; &lt;{{ node[3] }}&gt; &lt;{{ node[4] }}&gt;</option>
              {% endif %}
          {% endfor %}
          </select>
      </div>
  </div>

  <div class="form-group">
    <div class="radio col-sm-12"><label><input type="radio" name="force" value="False" checked>非强制离开集群</label></div>
    <div class="radio col-sm-12"><label><input type="radio" name="force" value="True">强制离开集群</label></div>
  </div>

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="button" onclick=DelNode() class="btn btn-danger">删除节点</button>
    </div>
  </div>

</form>
{% endif %}


{% endblock %}
{% block script %}

{% if request.args.get("misc") in ("DelService", "DelSwarm", "DelNode") %}
<!-- Import chosen js -->
<script src="{{ url_for('ui.static', filename='js/chosen.jquery.min.js') }}" type="text/javascript"></script>
{% endif %}

<script type="text/javascript">

{% if request.args.get("misc") == "AddSwarm" %}
function AddSwarm() {
    $.ajax({
        url: "{{ url_for('apis.core.swarm') }}",
        method: 'POST',
        datatype: 'json',
        data: $('#AddSwarmForm').serialize(),
        beforeSend: function () {
            // 禁用按钮防止重复提交
            $("#AddSwarmSubmit").attr({ disabled: "disabled" });
        },
        success: function(res) {
            console.log(res);
            if (res.success==true) {
                alert("添加Swarm集群成功！");
                window.location.href="{{ url_for('ui.index') }}";
            } else {
                alert("添加Swarm集群失败，请重试提交或报告错误！\n错误原因是：" + res.msg);
            }
        },
    });
}
//更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[0];
console.log(NavId)
NavId.className='active';
{% endif %}


{% if request.args.get("misc") == "InitSwarm" %}
function InitSwarm() {
    $.ajax({
        url: "{{ url_for('apis.core.InitSwarm') }}",
        method: 'POST',
        datatype: 'json',
        data: $('#InitSwarmForm').serialize(),
        success: function(res) {
            console.log(res);
            if (res.success==true) {
                alert("初始化Swarm集群成功！");
                window.location.href="{{ url_for('ui.index') }}";
            } else {
                alert("初始化Swarm集群失败，请重试提交或报告错误！\n错误原因是：" + res.msg);
            }
        },
    });
}
//更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[0];
console.log(NavId)
NavId.className='active';
{% endif %}


{% if request.args.get("misc") == "DelSwarm" %}
var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"95%"}
}
for (var selector in config) {
    $(selector).chosen(config[selector]);
}
function DelSwarm() {
  //var delname  = $("input#DelSwarmName").val()
  var delname = $('#DelSwarmName').val();
  console.log(delname);
  if (delname) {
    if(window.confirm("你确定要删除" + delname +"?")) {
        //var delnames = delname.split(" ");
        var delnames = delname;
        var SUCCESS  = new Array();
        var FAILED   = new Array();
        console.log(delnames);
        for (i=0;i<delnames.length ;i++ ) {
            name = delnames[i];
            if (name) {
                $.ajax({
                    url: "{{ url_for('apis.core.swarm') }}",
                    method: 'DELETE',
                    async: false,
                    datatype: 'json',
                    data: {"name": name},
                    success: function(res) {
                        console.log(res);
                        if (res.success==true) {
                            console.log("Delete Swarm Successfully:" + name);
                            SUCCESS.push(name);
                        } else {
                            console.log("Delete Swarm Failed:" + name);
                            FAILED.push(name);
                        }
                    },
                });
            }
        }
        if (SUCCESS.length!==0) {
            alert("Swarm集群删除成功列表：" + SUCCESS);
        }
        if (FAILED.length!==0) {
            alert("Swarm集群删除失败列表：" + FAILED);
        }
        document.location.reload(); //重载当前页面
    }
  } else {
      alert("请填写要删除的Swarm集群标识名称！");
  }
}
//更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[0];
console.log(NavId)
NavId.className='active';
{% endif %}


{% if request.args.get("misc") == "AddService" %}
function AddService() {
    $.ajax({
        url: "{{ url_for('apis.core.service') }}",
        method: 'POST',
        datatype: 'json',
        data: $('#AddServiceForm').serialize(),
        beforeSend: function () {
            // 禁用按钮防止重复提交
            $("#AddServiceSubmit").attr({ disabled: "disabled" });
        },
        success: function(res) {
            console.log(res);
            if (res.success==true) {
                alert("添加服务成功，服务ID是" + res.serviceId);
                window.location.href="{{ url_for('ui.service') }}?id=" + res.serviceId;
            } else {
                alert("添加服务失败，请重试提交或报告错误！\n错误原因是：" + res.msg);
            }
        },
    });
}
// 更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[1];
console.log(NavId)
NavId.className='active';
{% endif %}


{% if request.args.get("misc") == "DelService" %}
var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"95%"}
}
for (var selector in config) {
    $(selector).chosen(config[selector]);
}
function DelService() {
  //var delService = $("input#DelServiceflag").val()
  var delService = $('#DelServiceflag').val();
  console.log(delService);
  if (delService) {
    if(window.confirm("你确定要删除" + delService +"?")) {
        //var services = delService.split(" ");
        var services = delService;
        var SUCCESS  = new Array();
        var FAILED   = new Array();
        console.log(services);
        for (i=0;i<services.length ;i++ ) {
            flag = services[i];
            if (flag) {
                $.ajax({
                    url: "{{ url_for('apis.core.service') }}",
                    method: 'DELETE',
                    async: false,
                    datatype: 'json',
                    data: {"flag": flag},
                    success: function(res) {
                        console.log(res);
                        if (res.success==true) {
                            console.log("Delete Service Successfully:" + flag);
                            SUCCESS.push(flag);
                        } else {
                            console.log("Delete Service Failed:" + flag);
                            FAILED.push(flag);
                        }
                    },
                });
            }
        }
        if (SUCCESS.length!==0) {
            alert("服务删除成功列表：" + SUCCESS);
        }
        if (FAILED.length!==0) {
            alert("服务删除失败列表：" + FAILED);
        }
        document.location.reload(); //重载当前页面
    }
  } else {
      alert("请填写要删除的服务标识！");
  }
}
// 更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[1];
console.log(NavId)
NavId.className='active';
{% endif %}


{% if request.args.get("misc") == "UpdateService" %}
function ServiceFill(serviceId) {
    $.ajax({
        url: "{{ url_for('apis.core.service') }}?core=true&core_convert=true&id=" + serviceId,
        method: 'GET',
        datatype: 'json',
        success: function(res) {
            console.log(res);
            service = res.data[0];
            document.getElementById("UpdateServiceName").value = service.Name;
            document.getElementById("UpdateServiceId").value = service.ID;
            document.getElementById("UpdateServiceImage").value = service.Image;
            document.getElementById("UpdateServicereplicas").value = service.Replicas;
            document.getElementById("UpdateServiceEnv").value = service.Env;
            document.getElementById("UpdateServiceMount").value = service.Mounts;
            document.getElementById("UpdateServicePublish").value = service.NetPorts;
        },
    });
}
function UpdateService() {
    $.ajax({
        url: "{{ url_for('apis.core.service') }}",
        method: 'PUT',
        datatype: 'json',
        data: $('#UpdateServiceForm').serialize(),
        success: function(res) {
            console.log(res);
            if (res.success==true) {
                alert("更新服务成功!");
                window.location.href="{{ url_for('ui.service') }}";
            } else {
                alert("更新服务失败，请重试提交或报告错误！\n错误原因是：" + res.msg);
            }
        },
        error: function(res) {
            console.log(res);
            alert(res.statusText);
        }
    });
}
// 更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[1];
console.log(NavId)
NavId.className='active';
{% endif %}


{% if request.args.get("misc") == "AddNode" %}
function AddNode() {
    $.ajax({
        url: "{{ url_for('apis.core.node') }}",
        method: 'POST',
        datatype: 'json',
        data: $('#AddNodeForm').serialize(),
        beforeSend: function () {
            // 禁用按钮防止重复提交
            $("#AddNodeSubmit").attr({ disabled: "disabled" });
        },
        success: function(res) {
            console.log(res);
            if (res.success==true) {
                alert("节点加入集群成功!");
                window.location.href="{{ url_for('ui.node') }}";
            } else {
                alert("节点加入集群失败，请重试提交或报告错误！\n错误原因是：" + res.msg);
            }
        },
        error: function(res) {
            console.log(res);
            alert(res.statusText);
        }
    });
}
// 更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[2];
console.log(NavId)
NavId.className='active';
{% endif %}


{% if request.args.get("misc") == "UpdateNode" %}
function NodeFill(node) {
    $.ajax({
        url: "{{ url_for('apis.core.node') }}?node=" + node,
        method: 'GET',
        datatype: 'json',
        success: function(res) {
            console.log(res);
            node = res.data[0];
            document.getElementById("UpdateNodeID").value = node[1];
            document.getElementById("UpdateNodeLabels").value = node[9];
            document.getElementById("UpdateNodeRole").innerHTML = "&nbsp;当前角色为&nbsp;" + node[2] + "&nbsp;";
            if (node[2]=="worker") {
                console.log("UpdateNodeRoleWorker sets it");
                $("#UpdateNodeRoleManager").removeAttr("checked");//不选中Manager
                $("#UpdateNodeRoleWorker").attr("checked","checked");//选中Worker
            } else {
                console.log("UpdateNodeRoleManager sets it");
                $("#UpdateNodeRoleWorker").removeAttr("checked");//不选中Worker
                $("#UpdateNodeRoleManager").attr("checked","checked");//选中Manager
            }
        },
    });
}
function UpdateNode() {
    $.ajax({
        url: "{{ url_for('apis.core.node') }}",
        method: 'PUT',
        datatype: 'json',
        data: $('#UpdateNodeForm').serialize(),
        success: function(res) {
            console.log(res);
            if (res.success==true) {
                alert("更新节点成功!");
                window.location.href="{{ url_for('ui.node') }}";
            } else {
                alert("更新节点失败，请重试提交或报告错误！\n错误原因是：" + res.msg);
            }
        },
        error: function(res) {
            console.log(res);
            alert(res.statusText);
        }
    });
}
// 更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[2];
console.log(NavId)
NavId.className='active';
{% endif %}



{% if request.args.get("misc") == "DelNode" %}
var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"95%"}
}
for (var selector in config) {
    $(selector).chosen(config[selector]);
}
function DelNode() {
  var DelNode = $('#DelNodeflag').val();
  var force = $('#DelNodeForm input[name="force"]:checked ').val();
  console.log(DelNode);
  console.log(force);
  if (DelNode) {
    if(window.confirm("你确定要删除" + DelNode +"?")) {
        var nodes = DelNode;
        var SUCCESS  = new Array();
        var FAILED   = new Array();
        console.log(nodes);
        for (i=0;i<nodes.length ;i++ ) {
            flag = nodes[i];
            if (flag) {
                $.ajax({
                    url: "{{ url_for('apis.core.node') }}",
                    method: 'DELETE',
                    async: false,
                    datatype: 'json',
                    data: {"ip": flag, "force": force},
                    success: function(res) {
                        console.log(res);
                        if (res.success==true) {
                            console.log("Delete Node Successfully:" + flag);
                            SUCCESS.push(flag);
                        } else {
                            console.log("Delete Node Failed:" + flag);
                            FAILED.push(flag);
                        }
                    },
                });
            }
        }
        if (SUCCESS.length!==0) {
            alert("节点删除成功列表：" + SUCCESS);
        }
        if (FAILED.length!==0) {
            alert("节点删除失败列表：" + FAILED);
        }
        document.location.reload(); //重载当前页面
    }
  } else {
      alert("请填写要删除的节点标识！");
  }
}
// 更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[2];
console.log(NavId)
NavId.className='active';
{% endif %}

</script>
{% endblock %}
