{% extends "base.html" %}
{% block title %}
SwarmOps | Docker管理平台
{% endblock %}
{% block container %}
{% if not Nodes %}
<div class="alert alert-danger" role="alert">活跃集群中没有节点!!!</div>
{% endif %}
<table class=" table table-bordered table-hover table-condensed table-responsive">
    <thead>
        <tr class="active">
            <th>host</th>
            <th>id</th>
            <th>role</th>
            <th>status</th>
            <th>availability</th>
            <th>reachability</th>
            <th>containers</th>
            <th>cpu</th>
            <th>mem</th>
            <th>label</th>
            <th>UpdatedAt</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
    {% for node in Nodes %}
        <tr>
            {% for i in node %}
            <td style='vertical-align: middle; text-align: center;'>{{ i }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block script %}
<script type="text/javascript">
// 节点数量
document.getElementById("node_number").innerHTML= {{ Nodes|length }};

// 更新导航
var NavId=null;
var As=document.getElementById('tab').getElementsByTagName('li');
NavId = As[2];
console.log(NavId)
NavId.className='active';
</script>
{% endblock %}
